<div class="row" *ngIf="product">
  <div class="col-6">
      <img [src]="product.pictureUrl" [alt]="product.name" class="w-100" />
  </div>
  <div class="col-6 mt-5">
    <h2>{{product.name}}</h2>
    <p>{{product.price |currency}}</p>
    <div class="d-flex justify-content-start align-items-center">
      <button class="btn btn-warning mx-1" (click)="IncreseQuantity()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
      <span style="font-size: 20;" class="mx-2"> {{  quantity}} </span>
      <button class="btn btn-warning mx-1" (click)="DecreseQuantity()">
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </button>

      <button class="btn btn-secondary mx-1" (click)="SetQuantity()">Add to Cart</button>
    </div>

    <div class="row mt-4">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
  </div>
</div>
