<section class="py-5" style="margin-top: 67px; background-color: #f5f5f5;">
    <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <h1>Title Goes here</h1>
          </div>
          <div class="col-md-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngFor="let item of this.bsService.breadcrumbs$|async"><a class="text-decoration-none " [routerLink]="[item.routeLink]">{{item.label}}</a></li>

              </ol>
            </nav>
            <!-- <xng-breadcrumb [autoGenerate]="true" #bread (click)="onElementClick(bread)">
              <ng-container  *xngBreadcrumbItem="let item"  >

                {{item|titlecase}}
              </ng-container>
            </xng-breadcrumb> -->
          </div>
        </div>
    </div>
</section>
