<!-- <ul>
  <li *ngFor="let item of products"> {{item.name}}</li>
 </ul> -->

    <div class="row" *ngIf="brands.length > 0 && types.length >0">

      <section class="col-md-3 mt-2">
        <h5 class="text-warning">Sort</h5>
        <select name="" class="form-control mb-4" (change)="onSortChange($event)" >
            <option *ngFor="let item of sortOptions" [value]="item.value"> {{item.text}} </option>
        </select>
        <h5 class="text-warning mt-2">Brands</h5>
        <ul class="list-group" >
          <li class="list-group-item " *ngFor="let item of brands"
          [class.active]="item.id === shopingParams.selectedBrandID"
          [value]="item.id"
          (click)="onBrandSelected(item.id)"
          >{{item.name}}</li>

        </ul>
        <h5 class="text-warning mt-2">Types</h5>
        <ul class="list-group">
          <li class="list-group-item " *ngFor="let item of types"
          [class.active]="item.id === shopingParams.selectedTypeID"
          [value]="item.id"
          (click)="onProductTypeSelected(item.id)"
          >{{item.name}}</li>
        </ul>
      </section>
      <section class="col-md-9 mt-2">
        <div class="d-flex justify-content-between pd-2">
            <app-paging-header [pageNumber]="shopingParams.pageIndex ?? 0"
            [pageSize]="shopingParams.pageSize ?? 0"
            [totalCount]="shopingParams.count ?? 0">
          </app-paging-header>
            <div class="d-flex">
              <input type="text" placeholder="Search" (keyup.enter)="onSearch()" #search class="form-control me-2" />
              <button class="btn btn-outline-primary mx-2" (click)="onSearch()">Search</button>
              <button class="btn btn-outline-success mx-2" (click)="OnReset()" >Reset</button>
            </div>
        </div>
        <div class="row row-cols-3 g-3 mt-2" >
          <ng-container *ngFor="let item of products">
              <app-product-item [product]="item"></app-product-item>
          </ng-container>
        </div>
        <div class="d-flex justify-content-center mt-2" *ngIf="shopingParams.count! > 0">
          <pagination
          [boundaryLinks]="true"
          [totalItems]="shopingParams.count?? 0"
          [maxSize]="10"
          (pageChanged)="onPageChanges($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
        </div>
      </section>
    </div>
